@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 3.5% 7%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#intro{
    width: 100%;
    height: 5vh;
    background-color: brown;
}

#logo{
    float: left;
    text-align: center;
    width: 12%;
    height: 100%;
    background-color: blueviolet;
}

#navigation{
    font-family: 'Montserrat', sans-serif;
    float:left;
    margin: 0% 4%;
    height: 100%;
    width: 75%;
    background-color: rgb(43, 226, 89);
}

#menu{
    float: right;
    height: 100%;
    width: 4%;
    background-color: rgb(226, 116, 43);
}

#image_menu{
    height: 50px;
    width:50px;
}