@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 3.5% 7%;
    background-image: url('/content/images/man_yellow.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    color:#222222;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 800;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 700;
    font-size: 80pt;
}

h4{
    font-weight: 500;
    font-size: 14pt;
}

.button_1{
    float:left;
    margin: 0% 7%;
    display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#intro{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
    width: 100%;
    height: 5vh;
}

#logo{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
    float:left;
    display: flex;
  align-items: flex-start;
    text-align: center;
    width: 12%;
    height: 100%;
}

#navigation{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
    font-size: 11.6pt;
    float:left;
    margin: 0% 4%;
    height: 100%;
    width: 75%;
}

#menu{
    display: flex;
  flex-wrap: wrap;
  align-content: center;
    float: right;
    height: 100%;
    width: 4%;
}

#image_menu{
    height: 84%;
    width: 65%;
}

#main{
    height: 100vh;
    width: 100%;
    
  
}

#box_1{
    float: left;
    margin: 6% 5%;
    height: 23vh;
    width: 40vh;
}

#box_2{
    float:right;
    margin: 20% 14%;
    height: 23vh;
    width: 40vh;
}